/*
 *   Contents:
 *   1. Properties
 *   2. Element styles
 *   3. Layout components
 *   4. Content components
 *   5. Screen-size overrides
 *
 * * * */


/*
 *   1. Properties
 *
 * * * */

@font-face {
	font-family: Roboto Flex;
	font-weight: 300 1000;
	font-stretch: 25% 100%;
	src: local(Roboto Flex), url(RobotoFlex.ttf) format(truetype);
	unicode-range: U+0020-0007A, U+00C5-00C6, U+00D8, U+00E5-00E6, U+00F8;
}

:root {
	--primary-contrast:				hsl(130deg 100% 90%);
	--primary-brightest:			hsl(130deg 66% 50%);
	--primary:						hsl(130deg 66% 33%);
	--primary-darker:				hsl(130deg 66% 25%);

	--primary-saturated-brightest:	hsl(130deg 100% 75%);
	--primary-saturated:			hsl(130deg 80% 50%);
	--primary-saturated-darker:		hsl(130deg 100% 25%);

	--primary-muted-brightest:		hsl(130deg 10% 90%);
	--primary-muted-brighter:		hsl(130deg 10% 80%);
	--primary-muted:				hsl(130deg 10% 70%);
	--primary-muted-darker:			hsl(130deg 10% 30%);
	--primary-muted-darkest:		hsl(130deg 10% 20%);

	--foreground-contrast:			hsl(310deg 10% 92%);
	--foreground:					hsl(310deg 10% 8%);

	--secondary-muted-brightest:	hsl(310deg 10% 80%);
	--secondary-muted-brighter:		hsl(310deg 10% 65%);
	--secondary-muted:				hsl(310deg 10% 50%);
	--secondary-muted-darker:		hsl(310deg 10% 30%);
	--secondary-muted-darkest:		hsl(310deg 10% 20%);

	--transition-color:
		color 300ms ease-in-out,
		background-color 300ms ease-in-out,
		border-color 300ms ease-in-out;

	/* Fluid Type Scales, by James Gilyead - https://utopia.fyi/blog/css-modular-scales */
	--step--2: clamp(0.69rem, calc(0.64rem + 0.35vw), 0.96rem);
	--step--1: clamp(0.83rem, calc(0.76rem + 0.49vw), 1.20rem);
	--step-0: clamp(1.00rem, calc(0.90rem + 0.67vw), 1.50rem);
	--step-1: clamp(1.20rem, calc(1.07rem + 0.90vw), 1.88rem);
	--step-2: clamp(1.44rem, calc(1.26rem + 1.21vw), 2.34rem);
	--step-3: clamp(1.73rem, calc(1.49rem + 1.60vw), 2.93rem);
	--step-4: clamp(2.07rem, calc(1.76rem + 2.12vw), 3.66rem);
	--step-5: clamp(2.49rem, calc(2.07rem + 2.79vw), 4.58rem);
}

/* @media (prefers-color-scheme: dark) {
	html {
	}
} */

::selection {
    background-color: var(--primary);
    color: var(--primary-contrast);
}

:focus-visible {
	outline-color: var(--primary);
}


/*
 *   2. Element styles
 *
 * * * */

body {
	/* font-optical-sizing: auto; */
	background-color: var(--secondary-background);
	color: var(--foreground);
	font-family: Roboto Flex, Roboto, Heebo, sans-serif;
	font-size: var(--step-0);
	font-stretch: 100%;
	font-weight: 400;
	line-height: 1.3;
	margin: 0;
	min-height: 100vh;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-stretch: 25%;
	font-weight: 700;
	letter-spacing: -0.01em;
	line-height: 0.9;
	margin: 0;
	text-transform: uppercase;
}
	h3 {
		border-left: 1em solid var(--primary);
		font-size: var(--step-4);
		margin-block-start: 0;
		padding-left: 0.5em;
		position: sticky;
		inset-block-start: 0;
	}

	h4 {
		font-size: var(--step-2);
	}
		h4 em {
			display: block;
			font-style: normal;
			font-weight: 300;
			letter-spacing: normal;
		}
	
	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-block-start: 2rem;
	}

p {
	margin: 0;
}
	h1 + p,
	h2 + p,
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p,
	p + p {
		margin-block-start: 1em;
	}

a {
	color: var(--primary);
	text-decoration-color: var(--primary-saturated);
	text-decoration-thickness: 1px;
	transition: var(--transition-color);
}
	a:link {
		color: var(--primary);
	}

	a:visited {
		color: var(--primary-muted-darkest);
	}

	a:hover,
	a:focus,
	a:focus-visible {
		color: var(--primary-saturated);
	}

	a:active {
		color: var(--primary-saturated-brightest);
	}

hr {
	border-width: 1px;
	border-color: var(--foreground);
	border-style: solid none none none;
	margin: 1em 0;
}

nav {
	background-color: var(--primary-muted-brightest);
	border-bottom-color: var(--primary-muted-brighter);
	border-bottom-style: solid;
	border-bottom-width: 0.2em;
	font-stretch: 25%;
}
	nav ul {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		margin: 0;
		padding: 0;
		align-content: stretch;
	}

	nav a {
		border-color: var(--primary-muted-brighter);
		border-width: 1px;
		display: block;
		padding: 1em 5vw;
		text-decoration: none;
	}

	nav a:hover,
	nav a:focus {
		background-color: white;
	}

	nav li + li a {
		border-top-style: solid;
	}

header {
	background-color: white;
	padding-top: 4em;
	padding-bottom: 1em;
} 
	header h1,
	footer h2 {
		font-weight: 300;
		font-size: var(--step-2);
		letter-spacing: normal;
	}

footer {
	background-color: var(--primary-muted-darker);
	color: var(--foreground-contrast);
	padding-bottom: 50vh;
	padding-top: 4em;
}

header,
section,
footer {
	overflow: hidden;
}

header,
footer,
section article {
	padding-left: 5vw;
	padding-right: 5vw;
}

article {
	margin-inline-end: auto;
	margin-inline-start: auto;
	max-inline-size: 32em;
}

section:nth-child(1) {
	background-color: var(--secondary-muted-brightest);
	padding-top: 6em;
}
	section:nth-child(1) h2 {
		font-size: calc(200% + 5vw);
		font-variation-settings: "opsz" 48;
		font-weight: 1000;
		letter-spacing: -0.03em;
		line-height: 0.8;
		text-transform: uppercase;
	}

	section:nth-child(1) hr {
		border-color: var(--secondary-muted-brighter);
	}

	section:nth-child(1) .transition {
		color: var(--secondary-muted-brighter)
	}

section:nth-child(2) {
	background-color: var(--secondary-muted-brighter);
}
	section:nth-child(2) hr {
		border-color: var(--secondary-muted-brightest);
	}

	section:nth-child(2) .transition {
		color: var(--secondary-muted)
	}

section:nth-child(3) {
	background-color: var(--secondary-muted);
}
	section:nth-child(3) h1,
	section:nth-child(3) h2,
	section:nth-child(3) h3,
	section:nth-child(3) h4,
	section:nth-child(3) h5,
	section:nth-child(3) h6 {
		color: var(--foreground-contrast);
	}

	section:nth-child(3) hr {
		border-color: var(--secondary-muted-brighter);
	}

	section:nth-child(3) article {
		margin-block-end: 2em;
		margin-block-start: 2em;
	}

	section:nth-child(3) .transition {
		color: var(--primary-muted-darkest)
	}

section:nth-child(4) {
	background-color: var(--primary-muted-darkest);
	color: var(--foreground-contrast);
	padding-bottom: 6em;
}
	section:nth-child(4) hr {
		border-color: var(--primary-muted-darker);
	}



/*
 *   3. Layout components (utility classes)
 *
 * * * */

.container {
	max-width: 32em;
	margin-left: auto;
	margin-right: auto;
}

.list-style-none {
	list-style: none;
	padding-inline-start: 0;
}
	.list-style-none li + li {
		margin-top: 1em;
	}


/*
 *   4. Content components
 *
 * * * */

.transition {
	display: block;
	height: auto;
	width: 100%;
}

.cta {
	background-color: var(--primary);
	border-radius: 0.25em;
	border-right-color: white;
	border-right-style: solid;
	border-right-width: 2em;
	display: block;
	font-weight: 700;
	line-height: 1;
	margin-inline-start: auto;
	max-width: 8em;
	padding: 0.5em 1em;
	position: relative;
	text-align: right;
	text-transform: uppercase;
}
	.cta:any-link {
		color: var(--foreground-contrast);
		text-decoration: none;
	}

	.cta:after {
		background-color: var(--primary-transparent);
		bottom: 0;
		color: var(--primary);
		content: "\0279C";
		display: block;
		line-height: 2em;
		position: absolute;
		right: -2em;
		text-align: center;
		top: 0;
		width: 2em;
	}

	.cta:hover,
	.cta:focus,
	.cta:focus-visible {
		background-color: var(--primary-saturated);
	}

	.cta:active {
		background-color: var(--primary-saturated-brightest);
	}

	.cta ~ .cta {
		margin-top: 1em;
	}



/*
 *   5. Screen-size overrides
 *
 * * * */

/* 40 * 16px = 640px (or greater) */
@media (min-width: 40em) {

	/* Navigation horisontal layout */
	nav {
		padding-left: 5vw;
		padding-right: 5vw;
	}
		nav ul {
			flex-direction: row;
			max-width: 32em;
			margin-left: auto;
			margin-right: auto;
		}

		nav li {
			flex-grow: 1;
		}

		nav a {
			border-left-style: solid;
			padding-left: 2em;
			padding-right: 2em;
		}
			nav li:last-child a {
				border-right-style: solid;
			}
			
		nav li + li a {
			border-top-style: none;
		}
}

/* 60 * 16px = 960px (or greater) */
@media (min-width: 60em) {

	/* 2 column grid */
	.grid {
		column-gap: 2em;
		display: grid;
		grid-template-columns:
			[main-col-start] 1fr
			[main-col-end right-col-start] min-content
			[right-col-end];
		padding: 0 5vw;
	}
		.grid hr {
			grid-column-end: -1;
			grid-column-start: 1;
		}

		.grid h1,
		.grid h2,
		.grid h3,
		.grid h4,
		.grid h5,
		.grid h6,
		.grid p,
		.grid-col-main {
			grid-column-end: main-col-end;
			grid-column-start: main-col-start;
		}

		/* .grid p + p {
			margin-block-start: 1em;
		} */

		.grid ul,
		.grid-col-right {
			grid-column-end: right-col-end;
			grid-column-start: right-col-start;
		}

		.grid--basic {
			display: block;
		}

	.cta {
		margin-inline-start: 0;
	}
}

/* 90 * 16px = 1440px (or greater) */
@media (min-width: 90em) {

	/* 3 column grid */
	.grid {
		grid-template-columns:
			[left-col-start] 1fr
			[left-col-end main-col-start] minmax(16em, 32em)
			[main-col-end right-col-start] 1fr
			[right-col-end];
		margin: 2em 0 0 0;
		max-width: 100%;
	}
		.grid > * {
			margin-block-start: 1rem;
			margin-block-end: 1rem;
		}

		.grid h4,
		.grid h5,
		.grid h6 {
			grid-column-end: left-col-end;
			grid-column-start: left-col-start;
			text-align: end;
		}

		.grid--basic {
			display: grid;
		}
}
