/*
 *   Contents:
 *   1. Properties
 *   2. Element styles
 *   3. Layout components
 *   4. Content components
 *   5. Screen-size overrides
 *
 * * * */


/*
 *   1. Properties
 *
 * * * */

@font-face {
	font-family: Roboto Flex;
	font-weight: 300 900;
	font-stretch: 25% 100%;
	src: local(Roboto Flex), url(RobotoFlex.ttf) format(truetype);
	unicode-range: U+0020-0007A, U+00C5-00C6, U+00D8, U+00E5-00E6, U+00F8;
}

*,
:before,
:after {
	box-sizing: border-box;
}

:root {
	/* --inputfield-muted-focus: hsl(0deg 0% 0% 100%);
	--inputfield-background: hsl(0deg 0% 0%);
	--inputfield-border: hsl(0deg 0% 0%);
	--inputfield-text: hsl(0deg 0% 0%);
	--link-contrast-focus: hsl(0deg 0% 0%);
	--link-contrast-visited: hsl(0deg 0% 0%);
	--link-contrast: hsl(0deg 0% 0%);
	--link-focus: hsl(0deg 0% 0%);
	--link-visited: hsl(0deg 0% 0%);
	--link: hsl(0deg 0% 0%); */
	/* --primary-focus: hsl(130deg 66% 33%); */
	/* --primary-transparent: hsl(130deg 50% 25% / 30%); */
	/* --secondary-muted-transparent: hsl(310deg 10% 50% / 50%); */


	--primary-contrast:				hsl(130deg 100% 90%);
	--primary-brightest:			hsl(130deg 50% 50%);
	--primary:						hsl(130deg 66% 33%);
	--primary-darker:				hsl(130deg 50% 25%);

	--primary-saturated-brightest:	hsl(130deg 100% 75%);
	--primary-saturated-darker:		hsl(130deg 100% 20%);
	--primary-saturated:			hsl(130deg 80% 50%);

	--primary-muted-brightest:		hsl(130deg 50% 90%);
	--primary-muted-brighter:		hsl(130deg 50% 80%);
	--primary-muted:				hsl(130deg 50% 70%);
	--primary-muted-darker:			hsl(130deg 10% 30%);
	--primary-muted-darkest:		hsl(130deg 10% 20%);

	--foreground-contrast:			hsl(310deg 10% 92%);
	--foreground:					hsl(310deg 10% 8%);

	--secondary-muted-brightest:	hsl(310deg 20% 80%);
	--secondary-muted-brighter:		hsl(310deg 15% 65%);
	--secondary-muted:				hsl(310deg 10% 50%);
	--secondary-muted-darker:		hsl(310deg 10% 30%);
	--secondary-muted-darkest:		hsl(310deg 10% 20%);

	--transition-color:
		color 300ms ease-in-out,
		background-color 300ms ease-in-out,
		border-color 300ms ease-in-out;
}

/* @media (prefers-color-scheme: dark) {
	html {
	}
} */

/* Fluid Type Scales, by James Gilyead - https://utopia.fyi/blog/css-modular-scales */

:root {
	--fluid-min-width: 320;
	--fluid-max-width: 1500;
	--fluid-min-size: 17;
	--fluid-max-size: 20;
	--fluid-min-ratio: 1.2;
	--fluid-max-ratio: 1.33;
}

:root {
	--fluid-screen: 100vw;
	--fluid-bp: calc((var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) / ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16)));
}

@media screen and (min-width: 1500px) {
	:root {
		--fluid-screen: calc(var(--fluid-max-width) * 1px);
	}
}

:root {
	--fluid-min-scale-0: var(--fluid-min-ratio);
	--fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
	--fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);

	--fluid-max-scale-0: var(--fluid-max-ratio);
	--fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
	--fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);

	--fluid-min-size-0: (var(--fluid-min-size)) / 16;
	--fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
	--fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;

	--fluid-max-size-0: (var(--fluid-max-size)) / 16;
	--fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
	--fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;

	--fluid-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));
	--fluid-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));
	--fluid-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));
}



/*
 *   2. Element styles
 *
 * * * */

body {
	/* font-optical-sizing: auto; */
	background-color: var(--secondary-background);
	color: var(--foreground);
	font-family: Roboto Flex, Roboto, Heebo, sans-serif;
	font-size: var(--fluid-0);
	font-stretch: 100%;
	font-weight: 400;
	line-height: 1.3;
	margin: 0;
	min-height: 100vh;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-stretch: 25%;
	font-weight: 900;
	letter-spacing: -0.03em;
	line-height: 0.9;
	margin: 0;
	text-transform: uppercase;
}
	h1 {
		font-size: var(--fluid-2);
		font-weight: 300;
	}

	h3 {
		border-left: 1em solid var(--primary);
		font-size: var(--fluid-2);
		margin-block-start: 0;
		padding-left: 0.5em;
	}

	h4 {
		font-size: var(--fluid-1);
	}
		h4 em {
			display: block;
			font-style: normal;
			font-weight: 300;
			letter-spacing: normal;
		}
	
	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-block-start: 2rem;
	}

p {
	/* Aiming for a line length of ~70 characters */
	margin: 0;
	max-width: 33em;
}
	h1 + p,
	h2 + p,
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p,
	p + p {
		margin-block-start: 1rem;
	}

a {
	color: var(--primary);
	text-decoration-color: var(--primary-saturated);
	text-decoration-thickness: 1px;
	transition: var(--transition-color);
}
	a:link {
		color: var(--primary);
	}

	a:visited {
		color: var(--primary-muted-darkest);
	}

	a:hover,
	a:focus,
	a:focus-visible {
		color: var(--primary-saturated);
	}

	a:active {
		color: var(--primary-saturated-brightest);
	}

header,
section,
footer {
	overflow: hidden;
	padding-left: 10vw;
	padding-right: 10vw;
}

nav {
	background-color: var(--primary-muted-brightest);
	border-bottom-color: var(--primary-muted-brighter);
	border-bottom-style: solid;
	border-bottom-width: 0.2em;
	font-stretch: 25%;
}
	nav ul {
		align-items: stretch;
		display: flex;
		flex-direction: column;
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	nav a {
		border-color: var(--primary-muted-brighter);
		border-width: 1px;
		display: block;
		padding: 1em 10vw;
		text-decoration: none;
	}

	nav a:hover,
	nav a:focus {
		background-color: white;
	}

	nav li + li a {
		border-top-style: solid;
	}


header {
	background-color: white;
	padding-top: 4em;
	padding-bottom: 1em;
}
	header h1 {
		font-weight: 300;
		text-transform: uppercase;
	}

section:nth-child(1) {
	background-color: var(--secondary-muted-brightest);
	padding-top: 6em;
}
	section:nth-child(1) h2 {
		font-size: calc(200% + 5vw);
		/* font-stretch: 25%; */
		font-variation-settings: "opsz" 48;
		font-weight: 900;
		letter-spacing: -0.03em;
		line-height: 0.8;
		text-transform: uppercase;
	}

	section:nth-child(1) + .transition {
		background-color: var(--secondary-muted-brightest);
		color: var(--secondary-muted-brighter)
	}

section:nth-child(3) {
	background-color: var(--secondary-muted-brighter);
}
	section:nth-child(3) + .transition {
		background-color: var(--secondary-muted-brighter);
		color: var(--secondary-muted)
	}

section:nth-child(5) {
	background-color: var(--secondary-muted);
	padding-bottom: 2em;
	padding-top: 2em;
}
	section:nth-child(5) h3 {
		color: var(--foreground-contrast);
	}

	section:nth-child(5) + .transition {
		background-color: var(--secondary-muted);
		color: var(--primary-muted-darkest)
	}

section:nth-child(7) {
	background-color: var(--primary-muted-darkest);
	color: var(--foreground-contrast);
	padding-bottom: 6em;
}

footer {
	background-color: var(--primary-muted-darker);
	color: var(--foreground-contrast);
	padding-bottom: 50vh;
	padding-top: 4em;
}
	footer h2 {
		font-weight: 300;
		letter-spacing: normal;
	}

/* input[type=text],
textarea {
	background-color: var(--inputfield-background);
	border-radius: 0.5em;
	border-radius: 0.5em;
	border: 0.2em solid var(--inputfield-border);
	color: var(--inputfield-text);
	font-family: inherit;
	font-size: inherit;
	min-width: 3em;
	padding: 0.5em 1em;
	transition: var(--transition-color);
}
	input[type=text]:hover,
	input[type=text]:focus,
	textarea:hover,
	textarea:focus {
		background-color: var(--inputfield-muted-focus);
	}

textarea {
	border-radius: 0.5em;
	display: block;
	min-height: 6em;
	resize: vertical;
	width: 100%;
}

::placeholder {
	color: var(--inputfield-text);
	opacity: 0.5;
}

 button {
	background-color: var(--highlight);
	border-radius: 0.5em;
	border-style: none;
	color: var(--highlight-contrast);
	cursor: pointer;
	font-size: inherit;
	font-weight: 900;
	letter-spacing: -0.05em;
	line-height: 3;
	padding: 0 2em;
	transition: var(--transition-color);
	white-space: nowrap;
}
	button:hover,
	button:focus {
		background-color: var(--highlight-focus);
	} */



/*
 *   3. Layout components
 *
 * * * */

.cta,
.cta:any-link {
	background-color: var(--primary);
	border-radius: 0.25em;
	border-right-color: white;
	border-right-style: solid;
	border-right-width: 2em;
	color: var(--foreground-contrast);
	display: inline-block;
	font-weight: 700;
	line-height: 1;
	max-width: 15em;
	padding: 0.5em 1em;
	position: relative;
	text-align: right;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}
	.cta:after {
		background-color: var(--primary-transparent);
		bottom: 0;
		color: var(--primary);
		content: "\0279C";
		display: block;
		line-height: 2em;
		position: absolute;
		right: -2em;
		text-align: center;
		top: 0;
		width: 2em;
	}

	.cta:hover,
	.cta:focus,
	.cta:focus-visible {
		background-color: var(--primary-saturated);
	}

	.cta:active {
		background-color: var(--primary-saturated-brightest);
	}

	.cta ~ .cta {
		margin-top: 1em;
	}

	.transition svg {
		display: block;
		height: auto;
		width: 100%;
	}



/*
 *   4. Content components
 *
 * * * */


/* 
.hero {
	background-color: var(--secondary-muted-brightest);
	padding-top: 4em;
}
	.hero h2 {
		font-size: calc(200% + 5vw);
		font-stretch: 25%;
		font-variation-settings: "opsz" 48;
		font-weight: 900;
		letter-spacing: -0.03em;
		line-height: 0.8;
		text-transform: uppercase;
	}

	.hero + .transition {
		background-color: var(--secondary-muted-brightest);
		color: var(--primary-muted-brighter)
	}

.priorities {
	background-color: var(--primary-muted-brighter);
}
	.priorities + .transition {
		background-color: var(--primary-muted-brighter);
		color: var(--secondary-muted)
	}

.method {
	background-color: var(--secondary-muted);
	padding-top: 2em;
	padding-bottom: 2em;
}
	.method h3 {
		color: var(--foreground-contrast);
	}

	.method + .transition {
		background-color: var(--secondary-muted);
		color: var(--primary-muted-darkest)
	}

.projects {
	background-color: var(--primary-muted-darkest);
	color: var(--foreground-contrast);
} */

.project-list {
	padding-bottom: 2em;
	padding-top: 2em;
}
	.project-list + .project-list {
		border-top-width: 1px;
		border-top-color: var(--primary-muted-darker);
		border-top-style: solid;
	}

	.project-list > * {
		margin-bottom: 2em;
	}


/*
 *   5. Screen-size overrides
 *
 * * * */

/* 40 * 16px = 640px (or greater) */
@media (min-width: 40em) {

	nav {
		padding-left: 10vw;
		padding-right: 10vw;
	}
		nav ul {
			flex-direction: row;
		}

		nav a {
			border-left-style: solid;
			padding-left: 2em;
			padding-right: 2em;
		}
			nav li:last-child a {
				border-right-style: solid;
			}
			
		nav li + li a {
			border-top-style: none;
		}

	.split,
	.project-list {
		display: flex;
		gap: 5vw;
		align-items: flex-start;
		align-content: stretch;
		/* margin-bottom: 3em; */
	}
		.split > *,
		.project-list > * {
			flex-basis: 50%;
		}

		.project-info {
			text-align: right;
		} 
}
